@page "/managepermission"
<PageTitle>STRATEGY | Manage Permissions</PageTitle>
<div class="row">
    <div class="col-sm-12 mb-4 mb-xl-0">
        <h4 class="font-weight-bold text-dark">Manage User Permissions</h4>
        <div style="float:right;">
            <RadzenBreadCrumb>
                <RadzenBreadCrumbItem Path="/home" Text="Home" />
                <RadzenBreadCrumbItem Text="Manage Application Permissions" />
            </RadzenBreadCrumb>
        </div>
    </div>
</div>



@code {

}
