﻿<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="images/faces/face28.png">
        </div>
        <div class="user-name">
            @SessionEmail
        </div>
        <div class="user-designation">
            @SessionRoleName
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="home">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-planning" aria-expanded="false" aria-controls="ui-planning">
                <i class="icon-stack menu-icon"></i>
                <span class="menu-title">Planning</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-planning">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="managepillar">Pillar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="managestrategicobjectives">Strategic Objectives</a></li>
                    <li class="nav-item"> <a class="nav-link" href="managestrategicobjectivesdetails">Strategic Details</a></li>
                    <li class="nav-item"> <a class="nav-link" href="programschedule">Program Schedule</a></li>
                    <li class="nav-item"> <a class="nav-link" href="theplan">The Plan</a></li>
                </ul>
            </div>
        </li>

        <AuthorizeView Roles="1">
            <Authorized>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="icon-disc menu-icon"></i>
                        <span class="menu-title">Meta Data</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="manageemployees">Employee</a></li>
                            <li class="nav-item"> <a class="nav-link" href="managedepartment">Department</a></li>
                        </ul>
                    </div>
                </li>
            </Authorized>
        </AuthorizeView>

        @*  <li class="nav-item">
        <a class="nav-link" href="pages/forms/basic_elements.html">
        <i class="icon-file menu-icon"></i>
        <span class="menu-title">Form elements</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="pages/charts/chartjs.html">
        <i class="icon-pie-graph menu-icon"></i>
        <span class="menu-title">Charts</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="pages/tables/basic-table.html">
        <i class="icon-command menu-icon"></i>
        <span class="menu-title">Tables</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="pages/icons/feather-icons.html">
        <i class="icon-help menu-icon"></i>
        <span class="menu-title">Icons</span>
        </a>
        </li> *@
     
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Administration</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="manageusers"> Users </a></li>
                    <AuthorizeView Roles="1">
                        <Authorized>
                    <li class="nav-item"> <a class="nav-link" href="manageroles"> Roles</a></li>
                    <li class="nav-item"> <a class="nav-link" href="managepermission"> Permissions </a></li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            </div>
        </li>
           
    </ul>
</nav>
<style type="text/css">
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

</style>

@code {
    private string SessionName = string.Empty;
    private string SessionEmail = string.Empty;
    private string SessionRoleName = string.Empty;
    private string PermissionData = string.Empty;
    List<int> TagIds = new List<int>();
    [CascadingParameter]
    public Task<AuthenticationState>? ClientAuthState { get; set; }
    private bool AuthenticationResult = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = (await ClientAuthState).User;
            SessionName = user.Identity.Name;
            SessionEmail = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email).Value;
            SessionRoleName = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.StreetAddress).Value;
            PermissionData = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Country).Value;

            //list the user permissions as below
            //TagIds = PermissionData.Split(',').Select(int.Parse).ToList();

            // var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
            // AuthenticationResult = (await ClientAuthState!).User.Identity!.IsAuthenticated;
        }
        catch (Exception)
        {
            SessionName = null!;
            SessionEmail = null!;
        }

    }
}